[submodule "netclient"]
	path = netclient
	url = git@github.com:mossdef-org/netclient.git
[submodule "adblock-fast"]
	path = adblock-fast
	url = git@github.com:mossdef-org/adblock-fast.git
[submodule "https-dns-proxy"]
	path = https-dns-proxy
	url = git@github.com:mossdef-org/https-dns-proxy.git
[submodule "luci-app-adblock-fast"]
	path = luci-app-adblock-fast
	url = git@github.com:mossdef-org/luci-app-adblock-fast.git
[submodule "luci-app-advanced-reboot"]
	path = luci-app-advanced-reboot
	url = git@github.com:mossdef-org/luci-app-advanced-reboot.git
[submodule "luci-app-https-dns-proxy"]
	path = luci-app-https-dns-proxy
	url = git@github.com:mossdef-org/luci-app-https-dns-proxy.git
[submodule "luci-app-pbr"]
	path = luci-app-pbr
	url = git@github.com:mossdef-org/luci-app-pbr.git
[submodule "pbr"]
	path = pbr
	url = git@github.com:mossdef-org/pbr.git
[submodule "sunwait"]
	path = sunwait
	url = git@github.com:mossdef-org/sunwait.git
	branch = 0.9.1
[submodule "stangri"]
	path = stangri
	url = https://github.com/stangri/stangri.git
[submodule "remote-agent"]
	path = remote-agent
	url = https://github.com/stangri/remote-agent
[submodule "remote-controller"]
	path = remote-controller
	url = https://github.com/stangri/remote-controller
[submodule "luci-app-yaaw"]
	path = luci-app-yaaw
	url = git@github.com:mossdef-org/luci-app-yaaw.git
[submodule "stangri.github.io"]
	path = stangri.github.io
	url = git@github.com:stangri/stangri.github.io.git
[submodule "w1700k-wireless-regdb"]
	path = w1700k-wireless-regdb
	url = git@github.com:mossdef-org/w1700k-wireless-regdb.git
	branch = main
[submodule "mwan4"]
	path = mwan4
	url = git@github.com:mossdef-org/mwan4.git
[submodule "static-device-names"]
	path = static-device-names
	url = https://github.com/mossdef-org/static-device-names
[submodule "chrome-adblock-fast"]
	path = chrome-adblock-fast
	url = git@github.com:mossdef-org/chrome-adblock-fast.git
[submodule "moci-app-adblock-fast"]
	path = moci-app-adblock-fast
	url = git@github.com:mossdef-org/moci-app-adblock-fast.git
[submodule "pia-wg-monitor"]
	path = pia-wg-monitor
	url = git@github.com:stangri/pia-wg-monitor.git
[submodule "newsboat"]
	path = newsboat
	url = git@github.com:mossdef-org/newsboat.git
[submodule "stfl"]
	path = stfl
	url = git@github.com:mossdef-org/stfl.git
